<header>
    <ul class="topnav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="FindBook">Find book</a></li>
        <li><a href="MyBooks">My books</a></li>
        
        <li class="right"><a href="#Sign in">Sign in</a></li>

    </ul>
</header>