<main>
    <section>
        <div style="padding:0 16px;">
            <h1>Here you can search for a book or an author</h1>
        </div>

        <img class="displayed" src="images/img3.jpg"><br>



        <label for="s">Search for abook or an author:</label>
        <input id="search" type="text" placeholder="Search.." name="search">
        <input onclick="findbook()" type="submit">

        <div id="books">
                   
        </div>

        <div id="fav1">
                   
        </div>







    </section>
</main>