<main>
    <section>
        <div style="padding:0 16px;">
            <h1>Here you can modify your list of books as you like</h1>
        </div>

       


        <form>

            <div class="container">
                
                <p>Below in the form you can modify the title of the book and the author also.</p>
                <hr>

                <label for="author"><strong>Author</strong></label>
                <input type="text" placeholder="Modify the author" name="author" id="author">

                <label for="title"><strong>Title</strong></label>
                <input type="text" placeholder="Modify the title" name="title" id="title">

                


                <button type="submit" onclick = "modifyBook1()" class="registerbtn" >Modify</button>
            </div>


        </form>








    </section>
</main>