<main>
	<section>
		<div style="padding:0 16px;">
			<h1>Welcome to Penguin Random House official website</h1>
		</div>

		<img class="displayed" src="images/img1.png">

		<p>Here you can find any book you from whatever kind you prefer.</p><br>

		<img class="displayed" src="images/img2.png">


	</section>
</main>