<main>
    <section>
        <div style="padding:0 16px;">
            <h1>Here you can see your list with your favourite books</h1>
        </div>

        <button onclick ="displayList()">My favourite books list</button>

        <div>
            <p id="fav"></p>
        </div>








    </section>
</main>